<div>
  <h1>Sign up</h1>
  <form action='/users' method='post'>
    Username: <input type='text' name='username'><br>
    Email: <input type='text' name='email'><br>
    City: <input type='text' name='city'><br>
    State: <input type='text' name='state'><br>
    Zip Code: <input type='number' name='zip'><br>
    Password: <input type='password' name='password'><br>
  <input type='submit' value='Sign Up'>
  </form>
</div>
