<h1>Stolen Bikes!</h1>
<p>See where bikes were stolen near
  <form class="inline">
    <input type="text" name="location" value="94107">
    <input type="submit" value="Go">
  </form>
</p>
<div id="map"></div>
