<div>
  <h1>Stolen Bikes!</h1>
  <% if session[:user_id] %>
    <a href="/sessions/delete">Log out</a><br>
    <p>See where bikes were stolen near
      <form class="inline">
        <input type="text" name="location" value="San Francisco, CA">
        <input type="submit" value="Go">
      </form>
    </p>
    <div id="map"></div>
  <% else %>
    <a href="/users/new">Sign up</a><br>
    <a href="/sessions/new">Log in</a>
  <% end %>
</div>
